/* Write some CSS below */
body {
  font-family: Playfair Display;
  color: #265C23;
  font-size: 18px;
  background-color: #F5F1EB;
}

h1 {
  color: #A2937B;
  font-size: 34px;
}/* Write some CSS below */

h2 {
  color: #A8B8A7;
  font-size: 28px;
}/* Write some CSS below */

a {
  color: #F5F1EB;
  font-weight: bold;
  text-decoration: none
}

h3 {
  color: #A2937B;
  font-size: 21px;
}/* Write some CSS below */

h4 {
  color: #A2937B;
  font-size: 30px;
}/* Write some CSS below */

h5{
  color: #BEC5BD;
  font-size: 15px;
}/* Write some CSS below */

p {
  color: #F5F1EB;
  font-size: 21px;
}/* Write some CSS below */

.container {
  width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/peintre.jfif');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

.card-white {
  background: #A8B8A7;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 500px;
  text-align: center;
  padding: 45px;
  margin: 8px;
}

.card-white img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 14px;
}

.card-white h3 {
  margin-bottom: 0;
}

.button {
  background-color: #A2937B;
  color: white;
  padding: 10px 40px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}